*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
header{
    max-width: 1280px;
    margin: 0 auto;
}
/* font */
.navbar{
    display: flex;
    gap:870px;
    justify-content:center;
    padding: 24px;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
    width: 350px;
    height: 38px;
}
.btn{
    padding: 5px;
    background-color: white;
    border: 1px solid #006A50 ;
    border-radius: 5px;
    /* padding: 15px 30px; */
    color: #006A50;
    font-weight: 700;
    font-size: 18px;
    width: 116px;
    height: 52px;
}
/* banner section */
.banner{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    height: 560px;
}
.banner-title{
    font-size: 20px;
    font-weight: 300px;
    color: #888585;
    
}
.banner-content{
    margin-top: 16px;
    font-size: 56px;
    font-weight: bold;
    color: black;
}
.banner-button{
    margin-top: 24px;
    padding: 10px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.banner-section{
    width: 622px;
    height: 325px;
}
/* pillars section */
main{
    max-width: 1280px;
    margin: 0 auto;
}
.pillar-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    justify-content: center;
    text-align: left;
    margin-top: 80px;
}
.pillar-container{
    display: flex;
    gap: 24px;
    padding: 24px;
    
}
.pillar{
    border:1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;

}
    
.pillar-head{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;
}
.pillar-description{
    color:rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
/* vision section */
.vision{
    gap: 32px;
}
.vision-section{
    margin-top: 80px;
   
}
.vision-title{
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    font-size: 40px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.vision-box{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 24px;

    
}
.vision-box-1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 24px;
    border-radius: 16px;   
}
.vision-box-2{
    background-color: rgba(198, 228, 214, 1);
    padding: 24px;
    border-radius: 16px;   
}
.vision-box-3{
    background-color:rgba(247, 235, 207, 1);
    padding: 24px;
    border-radius: 16px;   
}
.sub-title{
    font-size: 20px;
    font-weight: 700;
}
.description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.vision-btn{
    color: rgba(255, 255, 255, 1);
    padding: 11px;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    border: none; 
}
.vision-btn-1{
    background-color: rgba(84, 144, 245, 1);  
}

.vision-btn-2{
    background: rgb(9, 161, 92);;
}
.vision-btn-3{
    background-color: rgb(255, 194, 57);
}
/* challenges section */
.challenges{
    margin-bottom: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px 48px 24px 48px;
}
.challenge-body{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}
.challenge-name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.challenge-name-title{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}